# Variáveis de ambiente para o banco de dados PostgreSQL
POSTGRES_USER=pcd_user
POSTGRES_PASSWORD=pcd_password
POSTGRES_DB=pcd_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Variáveis de ambiente para o Streamlit
STREAMLIT_SERVER_PORT=8501
